<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>80811184696-s4cd8i22vofvd7tnruc0f1udo1mh5h31.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80811184696-s4cd8i22vofvd7tnruc0f1udo1mh5h31</string>
	<key>API_KEY</key>
	<string>AIzaSyCI4FFr74cY6Jz_OGMznudeukbPZGhIdvI</string>
	<key>GCM_SENDER_ID</key>
	<string>80811184696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.mprog.nl.fireApp-pset06</string>
	<key>PROJECT_ID</key>
	<string>sander-pset6</string>
	<key>STORAGE_BUCKET</key>
	<string>sander-pset6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:80811184696:ios:7ab8c1927f55ba4a</string>
	<key>DATABASE_URL</key>
	<string>https://sander-pset6.firebaseio.com</string>
</dict>
</plist>